* {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  h1{
    color:MediumSpringGreen ;
  }
  
  body {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
  }
  
  dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 0;
    border-radius: 3px;
    padding: 20px;
    font-size: 30px;
    background-color: #DFDFDF;
    text-align: center;
  }
  
  .block {
    box-shadow: 0 0 0 1px #333;
  }
  
  .controls {
    font-size: 20px;
    color: #FFF
  }
  
  .game-board {
    display: grid;
    grid-template-columns: repeat(15, 25px);
    grid-template-rows: repeat(20, 25px);
    background-color: #EFEFEF;
    grid-gap: 1px;
  }
  
  .score td {
    padding-top: 15px;
    font-size: 25px;
    color:red;
  }
  .instruction td{
    color:yellow;
  }
  .block{
    color:orange;
  }
  .brick{
    color:lightcoral;
  }
  .look{
    color:lime;
  }
  .yo{
    color:olive;
  }
  .none{
    color:aqua;
  }
  .lift{
    color:orchid;
  }
  